<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/style/style.css">
	<link rel="stylesheet" href="/style/write.css">
    <title>Meaningful Quotes</title>

	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sevillana&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


</head>
<body>
    <header>

		<div class = "header">
			
			<a class = "home btn" href="/">Home</a>
			<a href="/"style = "color:inherit; text-decoration:none;">
				<h1 class = "heading">Meaningful Quotes💕</h1>
			</a>
			
			
			<a class = "post btn" style = "margin-right: 0px;" href = "/write">Post a Quote</a>
		</div>
    </header>